Source: a2jmidi
Section: misc
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 11), cmake (>= 3.16), libjack-jackd2-dev, libcurl4-gnutls-dev, pkg-config, librtmidi-dev, libboost-all-dev
Standards-Version: 4.1.3
Homepage: https://github.com/zynthbox/a2jmidi

Package: a2jmidi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Connecting bridge for ALSA-MIDI to JACK-MIDI
  A one-way static bridge, connecting ALSA-MIDI to JACK-MIDI.
